<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
      <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="hu.telekom.tkriszti.flightInfo.model.Country" />
        <mapping class="hu.telekom.tkriszti.flightInfo.model.Flight" />
        <mapping class="hu.telekom.tkriszti.flightInfo.model.Pilot" />
    </session-factory>
</hibernate-configuration>
