<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pilóta adatok</title>
</head>

<body>

<h1>Pilóta adatok</h1>
<table>
    <thead>
        <tr>
            <th>| ------------  Név  -------------</th>
            <th>| ------  Jogosítvány éve  -------</th>
            <th>| ----------  Járatok  -----------</th>
            <th>| ---  Össz.repülési idő (perc) --|</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="pilot : ${pilot}">
            <td th:text="${pilot.pilotName}"></td>
            <td th:text="${pilot.pilotLicenceYear}"></td>
            <td>
                <span th:each="flightId, iterStat : ${pilot.flightsByPilot}">
                    <span th:text="${flightId}"></span>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td th:text="${pilot.totalFlightTime}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>